<!-- HTML for viewing the contact -->
<div data-ng-if="success == true" class="alert alert-success alert-dismissible" role="alert">
  <strong>{{message}}</strong>
</div>

<h3>{{contact.fullName}}</h3>

<div class="panel panel-default">
	<div class="panel-heading">Phone</div>
	<div class="panel-body">{{contact.phone.number}}</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Email</div>
	<div class="panel-body">{{contact.email.address}}</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Address</div>
	<div class="panel-body">
		<span data-ng-if="contact.address.address1">{{contact.address.address1}} <br> </span>
		<span data-ng-if="contact.address.address2">{{contact.address.address2}} <br></span>
		<span data-ng-if="contact.address.address3">{{contact.address.address3}} <br></span>
		<span data-ng-if="contact.address.address4">{{contact.address.address4}} <br></span>
	</div>
</div>

<div class="button-group">
	<button type="button" class="btn btn-primary" data-ng-click="edit()">Edit</button>
	<button type="button" class="btn btn-primary" data-ng-click="back()">Back</button>
</div>
